/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.btn{
  outline: none;
  border:none;
  background: transparent;
}


:root{
  --pri-clr:rgb(0, 0, 0);
  --sec-clr:rgb(215, 227, 255);
  --thr-clr:rgb(86, 173, 255);
  --pri-bg-clr:rgb(252, 252, 252);
  --sec-bg-clr:rgb(40, 109, 238);
  --pri-ft-family:'Open Sans', sans-serif;
  --sec-ft-family:'Nunito', sans-serif;
  --h-ft-family:'Roboto', sans-serif;
  --o-h-ft-family:'Poppins', sans-serif;
  --o-ft-family:'Lato', sans-serif;
  --h1-ft-size:2rem;
  --h2-ft-size:1.75rem;
  --h3-ft-size:1.5rem;
  --gen-ft-size:0.875rem;
  --b-ft-size:1.2rem;
  --fixed-ft-size:1.15rem;
  --pri-pad:0.375rem;
  --sec-pad:1.2rem;
  --o-pad:2rem;
  --pri-w-h:3rem;
  --fixed-w-h:2rem;
  --pri-transition: all 0.5s ease;
  --pri-lin-transition: all 0.5s linear;
  --sec-transition: all 1s ease;
  --sec-lin-transition: all 1s linear;
  --pri-box-shadow:6px 10px 18px #69696934;
  --sec-box-shadow:10px 15px 20px #6969699f;
}

body, .container{
  width: 100%;
  min-height:100vh;
  background-color: var(--pri-bg-clr);
}

html{
  scroll-behavior: smooth;
}



/* details nav */

.details-nav{
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:var(--sec-pad);
  border-bottom:2px solid var(--sec-bg-clr);
  background-color:var(--sec-bg-clr);
}

.d-nav{
  /* width: 45%; */
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.d-nav li a{
  color:var(--sec-clr);
}

.d-nav li a:hover{
  color:rgb(121, 215, 252);
}

.details-list{
  width: 45%;
}

.details-list li a{
  font-size:1rem;
  font-family: var(--pri-ft-family);
  padding:0 1rem;
}

.details-list li a span{
  margin-left:0.256rem;
}

.apps-list{
  width:20%;
}

.apps-list a{
  font-size: 1.5rem;
}



/* end of details nav */


/* header styles */

.top-header{
  width: 100%;
  height: auto;
  background-color:var(--pri-bg-clr);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:var(--pri-pad);
  box-shadow: 6px 10px 18px #5c5c5c88;
}

.t-h-st{
  width:40%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.fixed-top-header{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color:var(--sec-bg-clr);
  height: auto;
  transition:var(--pri-transition);
  z-index:1000;
}

.fixed-top-header .search-content{
  background-color:var(--pri-bg-clr);
}

.fixed-top-header .s-icon{
  color: var(--sec-bg-clr);
  width:var(--pri-w-h);
  height:var(--pri-w-h);
  font-size:var(--gen-ft-size);
}

.fixed-top-header .s-icon:hover{
  background-color:var(--pri-bg-clr);
}

.fixed-top-header #search-input{
  color:var(--pri-clr);
  background-color:var(--pri-bg-clr);
}

.fixed-top-header #close-btn{
  color:var(--sec-bg-clr);
}

.fixed-top-header .active-search{
  width: 15rem;
}

.fixed-top-header .s-bar ::placeholder{
  color: var(--sec-clr);
}

.fixed-top-header .t-nav-item:hover{
  background-color:var(--pri-bg-clr);
}

.fixed-top-header .t-nav-item:hover .t-nav-link{
  color: var(--sec-bg-clr);
}

.fixed-top-header .t-nav-link{
  color:var(--pri-bg-clr);
  font-size: var(--fixed-ft-size);
  font-weight: 500;
}

.fixed-top-header .t-nav-link:hover{
  color:rgb(75, 75, 75);
}

.fixed-top-header .dropdown-list{
  background-color:var(--sec-bg-clr);
  top:1rem;
}

.fixed-top-header .dropdown-list li a{
  color:var(--pri-bg-clr);
}

.fixed-top-header .dropdown-list li:hover{
  background:var(--pri-bg-clr);
}

.fixed-top-header .dropdown-list li:hover .drop-link{
  color:var(--sec-bg-clr);
}

.logo-img{
  width:145px;
}

.search-content{
  width: var(--pri-w-h);
  height:var(--pri-w-h);
  background-color:var(--sec-bg-clr);
  position:relative;
  border-radius:50px;
  transition:var(--pri-lin-transition);
  overflow: hidden;
}

.s-icon{
  position:absolute;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  color:var(--pri-bg-clr);
  animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);

  }
  100%{
    transform: scale(1);
  }
}

.s-icon:hover{
  background-color:var(--thr-clr);
}

.active-search{
  width:15rem;
}

.s-bar{
  position:relative;
  width:18rem;
  height:3rem;
  left:3rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  
}

#search-input{
  position:absolute;
  background-color:var(--sec-bg-clr);
  width:100%;
  height:100%;
  border:none;
  outline: none;
  font-size:var(--gen-ft-size);
  color: #fff;
}

.s-bar ::placeholder{
  color: var(--pri-bg-clr);
}

#close-btn{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right:8rem;
  border:none;
  background:transparent;
  font-size:var(--b-ft-size);
  cursor: pointer;
  color: var(--pri-bg-clr);
}


.t-nav-list{
  width: 55%;
  display:flex;
  height:100%;
  justify-content:space-around;
  align-items:center;
  font-family: var(--o-ft-family);
  font-size: var(--b-ft-size);  
  transition: var(--pri-lin-transition);
}

.t-nav-item{
  padding:0.5rem 1rem;
}

.t-nav-item:hover{
  color:var(--sec-clr);
  border-radius:50px;
  background-color:var(--sec-bg-clr);
}

.t-nav-item:hover .t-nav-link{
  color:var(--sec-clr);
}

.t-nav-link{
  color: var(--sec-bg-clr);
}


.fa-chevron-down, .fa-circle-user{
  padding:3px;
  transition:var(--pri-transition);
}

.t-nav-link:hover  .fa-chevron-down{
  transform: rotate(180deg);
}

.t-nav-list li:hover .dropdown-list{
  opacity:1;
  transform:translateY(50px);
  visibility:visible;
}

.dropdown-list{
  background-color:var(--pri-bg-clr);
  transform: translateY(20px);
  transition:0.8s ease;
  border-radius:5px;
  z-index:10000;
  position:absolute;
  opacity:0;
  visibility: hidden;
  width: 10rem;
  height:auto;
  top:5rem;
  box-shadow: 6px 10px 18px #69696949;
}

.dropdown-list li{
  padding:1.3rem;
  width:100%;
  transition: all 0.4s ease;
}

.dropdown-list li a{
  color:var(--sec-bg-clr);
}

.dropdown-list li:hover{
  padding-left:1.8rem; 
  background-color: var(--sec-bg-clr); 
}

.dropdown-list li:hover .drop-link{
  color: var(--pri-bg-clr);
}

/* end of header styles */

/* main section */

.main-section{
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

/* end of main section */

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color:var(--sec-bg-clr);
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.456rem;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
  box-shadow: 6px 10px 18px #0000008f;
}
.show-link {
  visibility: visible;
  z-index: 1000;
}

.popup-feed{
  position:fixed;
  bottom:5rem;
  z-index:100;
  box-shadow: 6px 10px 18px #0000008f;
  padding:0.875rem;
  background-color:var(--sec-bg-clr);
  width: 11rem;
  transform: translateX(-7.534rem);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  transition:var(--pri-lin-transition);
}

.popup-feed:hover{
  transform: translateX(0);
  opacity:0.8;
}

.feed-link{
  font-family: var(--o-h-ft-family);
  font-size:1.2rem;
  color: var(--pri-bg-clr);
  letter-spacing:2px;
  cursor: pointer;
}

.feedback-sec{
  width:100%;
  height:100vh;
  position:fixed;
  z-index: 2000;
  top:0;
  left:0;
  background-color:rgba(40, 109, 238, 0.692);
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  visibility:hidden;
  transform:translateY(-20px);
  transition:var(--sec-transition);
}

.show-feed{
  transform:translateY(0);
  opacity:1;
  visibility:visible;
}

.feedback-content{
  width:600px;
  border-radius:1rem;
  background-color:var(--pri-bg-clr);
  padding: var(--o-pad);
  position: relative;
}

.f-c-btn{
  position: absolute;
  right:3rem;
  font-size:var(--h3-ft-size);
  cursor: pointer;
  color:var(--sec-bg-clr);
  transition:var(--pri-transition);
}

.f-c-btn:hover{
  font-size:2rem;
}

.feedback-content h1{
  font-family: var(--o-h-ft-family);
  font-size:var(--h3-ft-size);
  color:var(--sec-bg-clr);
  text-align: center;
  line-height:2.5;
}

.f-f-form{
  width: 100%;
  display:grid;
  grid-gap:2rem;
}

.f-f-item{
  display:grid;
  grid-gap:0.375rem;
  font-family: var(--pri-ft-family);
  font-size:var(--b-ft-size);
  color:var(--sec-bg-clr);
}

.f-f-item input, textarea{
  padding:1rem;
  border:none;
  outline: none;
  border-radius:10px;
  background-color:rgb(92, 149, 255);
  font-family: var(--pri-ft-family);
  font-size:1rem;
  color:var(--pri-bg-clr);
}

.f-f-item ::placeholder{
  color:var(--pri-bg-clr);
}

.f-f-item textarea{
  height:10rem;
}

.f-s-btn{
  width:15rem;
  margin: 0 auto;
  background-color: var(--sec-bg-clr);
  color: var(--pri-bg-clr);
  padding: 1rem 0.875rem;
  border-radius: 0.347rem;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing:2px;
}

.f-s-btn:hover{
  background-color:var(--thr-clr);
}


/* footer styles */

footer{
  width:100%;
  height:auto;
  background-color:var(--sec-bg-clr);
  color: var(--pri-bg-clr);
  text-align: center;
  padding:2rem;
  font-family: var(--pri-ft-family);
  display: grid;
  grid-gap:0.875rem;
}

.footer-content{
  width: 100%;
  height:20%;
  display:grid;
  grid-template-columns: 4fr 2fr 3fr 3fr;
  grid-gap:2rem;
  padding:0 5rem;
  text-align: left;
}

.f-c-item{
  width:100%;
  height:100%;
}

#f-para{
  text-align: left;
  line-height:1.8;
}

.f-l-list{
  width:100%;
  height:100%;
  display:grid;
  text-align: left;
  margin-left:2rem;
}

.f-l-list li a{
  color: var(--pri-bg-clr);
}

.f-l-list li a:hover{
  color:var(--sec-clr);
}

.f-list{
  width:100%;
  height:100%;
  display:block;
  text-align: left;
}

.f-list li{
  padding:0.567rem 0;
}

.f-list span{
  margin-left:0.875rem;
}

.f-sub{
  width:100%;
  display:grid;
  grid-gap:1rem;
  padding:1rem 0;
}

#f-input, #f-btn{
  padding:0.875rem;
  border-radius:10px;
  outline: none;
  font-size:1rem;
  transition:var(--pri-transition);
}

#f-input{
  width: 100%;
  border:none;
}

#f-btn{
  width:50%;
  cursor: pointer;
  border:2px solid #fff;
  background:transparent;
  color:#fff;
}

#f-btn:hover{
  background-color:var(--sec-clr);
  color:var(--sec-bg-clr);
}

.f-apps-list{
  width:25%;
  display:flex;
  justify-content:space-around;
  font-size:1.5rem;
  margin: 1rem auto;
}

.f-apps-list a{
  color:var(--sec-clr);
}

.f-apps-list a:hover{
  color:var(--sec-clr);
}

.copy-right{
  width: 100%;
  text-align: center;
  font-size:0.876rem;
}

/* end of footer styles */

