
.carsoule{
  width:100%;
  height:80vh;
  background-image: url(../images/back1.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.carsoule-content{
  width:50%;
  position:relative; 
  background-color: rgba(0, 0, 0, 0.726);
  text-align: center;
  padding:2.5rem 3rem;
  border-radius:10px;
}

.carsoule-title{
  font-size:50px;
  font-family: var(--o-h-ft-family);
  color:var(--pri-bg-clr);
  letter-spacing:0.5px;
  margin-bottom:1rem;
}

.carsoule-link{
  background-color:rgba(40, 109, 238, 0.801);
  padding:1rem 3rem;
  color:var(--pri-bg-clr);
  font-family:var(--pri-ft-family);
  font-size:var(--b-ft-size);
  letter-spacing:3px;
  font-weight:bold;
  text-transform:uppercase;
  transition:var(--pri-transition);
  border-radius:50px;
}

.carsoule-link:hover{
  background:var(--sec-bg-clr);
  border-radius:10px;
}

.main-section-container{
  width:100%;
}

.main-container-item{
  width:100%;
  padding:4rem 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.m-s-title{
  text-align: center;
  font-family: var(--o-h-ft-family);
  font-size: var(--h1-ft-size);
  letter-spacing:2px;
  line-height:3;
  text-transform: uppercase;
}

#m-c-para{
  font-size:1rem;
  font-family: var(--pri-ft-family);
  line-height:1.5;
  text-align: justify;
}

.m-c-item01{
  background-image:url("../images/back3.jpg");
}

.services-list{
  width: 100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-gap:3rem;
}

.services-list li{
  padding:2rem 0;
  cursor: pointer;
  transition:var(--sec-transition);
  box-shadow: 6px 10px 18px #69696934;
  border-radius:10px;
  background-color: var(--pri-bg-clr);
}

.services-list li:hover{
  transform: scale(1.2);
  box-shadow: 6px 10px 18px #69696949;
}

.service-link{
  display:grid;
  grid-gap:1rem;
  text-align: center;
  font-size:1.4rem;
  font-family:var(--pri-ft-family);
  color:var(--sec-bg-clr);
}

.service-link i{
  font-size:2.5rem;
}

.services-list li:hover  .service-link{
  color:rgb(56, 135, 209);
}

.m-c-item02{
  background-color:var(--sec-bg-clr);
  color:var(--pri-bg-clr);
}


.overview-content{
  width:100%;
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-gap:1rem;
}

.overview-content img{
  width:200px;
  margin-left:30%;
}

.overview-content h2{
  font-family: var(--o-h-ft-family);
  font-size:var(--h2-ft-size);
  line-height:2;
}

.m-c-item03{
  text-align: center;
  background-image: url(../images/back2.jpg);
}

.m-c-item03 p{
  text-align: center;
  padding-bottom:3rem;
  font-family: var(--pri-ft-family);
  font-size:1.2rem;
}

.m-c-item03 a{
  border: 3px solid var(--sec-bg-clr);
  border-radius:50px;
  padding:1rem;
  font-size:1.5rem;
  font-family: var(--o-h-ft-family);
  font-size:1rem;
  font-weight: bold;
  color:var(--sec-bg-clr);
  transition:var(--pri-transition);
}

.m-c-item03 a:hover{
  border-radius:10px;
  color: var(--pri-bg-clr);
  background-color: var(--sec-bg-clr);
}

.card-content{
  widows: 100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:3rem;
}

.card-item{
  width:100%;
  background-color:#D3D4D6;
  padding:0 0 3rem 1.5rem;
  text-align: center;
  border-radius:10px;
}

.card-item h2{
  font-size:var(--h2-ft-size);
  font-family: var(--sec-ft-family);
  text-align-last: left;
}

.card-details-list{
  padding: 1rem 0 2rem 0;
}

.card-details-list li{
  padding:0.5rem 0;
  font-size:1.2rem;
  font-family: var(--pri-ft-family);
  text-align-last: left;
}

.card-details-list i{
  color:var(--sec-bg-clr);
}

#card-s02{
  font-weight: bold;
}

.card-link{
  background-color:var(--sec-bg-clr);
  padding:1rem 2rem;
  border-radius:50px;
  color:var(--pri-bg-clr);
  font-family: var(--pri-ft-family);
  transition:var(--pri-transition);
}

.card-link:hover{
  border-radius:10px;
  background-color:rgb(19, 74, 175);
}

.leader-content{
  width:100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:2rem;
}

/* .m-c-item05{} */

.leader-item{
  padding:2rem;
  box-shadow: 6px 10px 18px #69696949;
  border-radius:10px;
}

.leader-profile{
  width: 200px;
  height:200px;
  overflow:hidden;
  border:5px solid var(--sec-bg-clr);
  border-radius:100px;
  margin:0 auto;
}

.social-list{
  width: 100%;
  display:flex;
  justify-content:space-around;
  padding:2rem;
}

.social-list li a{
  font-size:2rem;
  color:rgb(194, 194, 194);
  transition:var(--pri-transition);
}

.social-list li a:hover{
  color:var(--sec-bg-clr);
}

.l-name, .l-job{
  font-family: var(--o-h-ft-family);
  text-align: center;
}

.l-name{
  font-weight: normal;
  font-size:1.5rem;
  color:rgb(75, 75, 75);
}

.l-job{
  font-size:0.875rem;
  line-height:2;
  color: var(--sec-bg-clr);
  letter-spacing:0.5px;
  font-weight: bold;
}

.m-c-item06{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.part-list{
  width:100%;
  display:grid;
  grid-template-columns:2fr 2fr 2fr;
  grid-gap: 3rem;
  text-align: center;
}

.part-list li{
  padding:4rem;
  box-shadow: 6px 10px 18px #69696949;
  border-radius:10px;
  transition:var(--pri-transition);
  cursor: pointer;
}

.part-list li:hover{
  background-color:var(--pri-bg-clr);
  transform:scale(1.1);
}

.part-list i{
  font-size:5rem;
}
