/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.btn{
  outline: none;
  border:none;
  background: transparent;
}


:root{
  --pri-sec-clr:rgb(233, 126, 126);
  --pri-clr:rgb(0, 0, 0);
  --sec-clr:rgb(215, 227, 255);
  --thr-clr:rgb(86, 173, 255);
  --pri-bg-clr:rgb(252, 252, 252);
  --sec-bg-clr:rgb(40, 109, 238);
  --pri-ft-family:'Open Sans', sans-serif;
  --sec-ft-family:'Nunito', sans-serif;
  --h-ft-family:'Roboto', sans-serif;
  --o-h-ft-family:'Poppins', sans-serif;
  --o-ft-family:'Lato', sans-serif;
  --h1-ft-size:2rem;
  --h2-ft-size:1.75rem;
  --h3-ft-size:1.5rem;
  --gen-ft-size:0.875rem;
  --b-ft-size:1.2rem;
  --fixed-ft-size:1.15rem;
  --pri-pad:0.375rem;
  --sec-pad:1.2rem;
  --o-pad:2rem;
  --pri-w-h:3rem;
  --fixed-w-h:2rem;
  --pri-transition: all 0.5s ease;
  --pri-lin-transition: all 0.5s linear;
  --sec-transition: all 1s ease;
  --sec-lin-transition: all 1s linear;
}

.carsoule{
  width:100%;
  height:80vh;
  background-image: url(../images/pexels-fauxels-3184291.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.carsoule-content{
  width:50%;
  position:relative; 
  background-color: rgba(0, 0, 0, 0.466);
  text-align: center;
  padding:2.5rem 5rem;
  border-radius:10px;
}

.carsoule-title{
  font-size:50px;
  font-family: var(--sec-ft-family);
  color:var(--pri-bg-clr);
  line-height:3;
  letter-spacing:1px;
}

.carsoule-link{
  background-color:rgba(40, 109, 238, 0.801);
  padding:1rem 3rem;
  color:var(--pri-bg-clr);
  font-family:var(--pri-ft-family);
  font-size:var(--b-ft-size);
  letter-spacing:3px;
  font-weight:bold;
  text-transform:uppercase;
  transition:var(--pri-transition);
  border-radius:50px;
}

.carsoule-link:hover{
  background:var(--sec-bg-clr);
  border-radius:10px;
}

.main-section-container{
  width:100%;
  padding:4rem 6rem;
}

.main-container-item{
  width:100%;
}

.m-s-title{
  text-align: center;
  font-family: var(--pri-ft-family);
  font-size: var(--h1-ft-size);
  letter-spacing:2px;
  line-height:3;
  text-transform: uppercase;
}

.services-list{
  width: 100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-gap:3rem;
}

.services-list li{
  padding:2rem 0;
  cursor: pointer;
  transition:var(--sec-transition);
  box-shadow: 6px 10px 18px #69696934;
  border-radius:10px;
}

.services-list li:hover{
  transform: scale(1.2);
  box-shadow: 6px 10px 18px #69696949;
}

.service-link{
  display:grid;
  grid-gap:1rem;
  text-align: center;
  font-size:1.4rem;
  font-family:var(--pri-ft-family);
  color:var(--sec-bg-clr);
}

.service-link i{
  font-size:2.5rem;
}

.services-list li:hover  .service-link{
  color:rgb(56, 135, 209);
}

