.banner{
    width: 100%;
    height:50vh;
    background-image: url(../images/back7.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;
}
  
.banner-content{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.644);
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-title{
    font-family: var(--o-h-ft-family);
    font-size:4rem; 
    color:var(--pri-bg-clr);
    letter-spacing:2px;
}

.main-section-container{
    width:100%;
}

.faq-content{
    margin:4rem auto;
    width: 800px;
    height:auto;
    display:grid;
    grid-gap:2rem;
}

.faq-item{
    width: 100%;
    height:auto;
    border-bottom:1px solid #fff;
}


.faq-q{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor: pointer;
    padding-bottom:0.875rem;
    background-color:var(--sec-bg-clr);
    padding:1rem;
    color:var(--pri-bg-clr);
}


.faq-q h2{
    font-size:1.3rem;
    font-family:var(--pri-ft-family);
    line-height:1;
    font-weight: normal;
}

.faq-q i{
    font-size: 2.5rem;
    transition:var(--pri-transition);
}


.faq-a{
    width: 100%;
    display:grid;
    max-height:0;
    overflow:hidden;
    transition:var(--pri-transition);
    padding:0 1rem;
    background-color:rgb(235, 235, 235);
}

.faq-a-active .faq-a{
    max-height:300px;
    padding:2rem 1rem;
}

.faq-a-active .faq-q i{
    transform: rotate(-180deg);
}

.faq-a .app-link{
    padding:0;
}

#app-logo{
    width:200px;
}

.faq-a p{
    font-size:1rem;
    font-family: var(--pri-ft-family);
    line-height:1.3;
    padding-bottom:1.3rem;
}

.faq-a span{
    font-size:1rem;
    font-family: var(--h-ft-family);
    color: var(--sec-bg-clr);
}


.f-a-link{
    padding:0.875rem 1rem;
    background-color: var(--sec-bg-clr);
    width:150px;
    height:50px;
    color:#fff;
    text-align: center;
    margin:1rem 0;
    font-family: var(--pri-ft-family);
    font-size:1rem;
    border-radius:10px;
    transition:var(--pri-transition);
}

.f-a-link:hover{
    border-radius:0;
}

.f-a-list li{
    padding:0.875rem 0;
    font-size:1.2rem;
}

.f-a-list li span{
    color:#000;
    font-size:1rem;
    margin-left:0.875rem;
}

.contact-load{
    width: 100%;
    padding:5rem 0;
    background-image:url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-position:center;
    text-align: center;
}

.contact-load h1{
    font-family: var(--sec-ft-family);
    font-size:2.5rem;
    padding:2rem;
}

.con-link{
    width:200px;
    border: 3px solid var(--sec-bg-clr);
    border-radius:50px;
    padding:1rem 2rem;
    font-size:1.5rem;
    margin:1rem 0;
    font-family: var(--o-h-ft-family);
    font-size:1rem;
    font-weight: bold;
    color:var(--sec-bg-clr);
    transition:var(--pri-transition);
}

.con-link:hover{
    border-radius:10px;
    color: var(--pri-bg-clr);
    background-color: var(--sec-bg-clr);
}